.header__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 24px;
    transition: 0.3s opacity;
}

.header__link:hover {
    opacity: 0.6;
}

