.footer {
    max-width: 880px;
    margin: 66px auto 60px;
}
@media screen and (max-width: 902px) {
    .footer {
        max-width: 700px;
    }
}
@media screen and (max-width: 734px) {
    .footer {
      max-width: 570px;
    }
}
@media screen and (max-width: 610px) {
    .footer {
      max-width: 420px;
      margin: 48px auto 36px;
    }
}
@media screen and (max-width: 460px) {
    .footer {
      max-width: 282px;
    }
}